@import "https://fonts.googleapis.com/css?family=Montserrat:400,600,700";
/*# sourceMappingURL=app.css.map */
body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #7ad0fa;
  font-weight: bold;
  border-bottom: 1px solid #8dca2a;
  margin-bottom: 24px;
  padding-bottom: 4px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.45em;
  font-weight: bold;
}
h4 {
  font-family: 'Montserrat', sans-serif;
}
h5 {
  font-family: 'Montserrat', sans-serif;
}
h6 {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #02b4d4;
}

main .mainColC {
  margin-top: -14px;
  text-align: right;
}
main .mainColC .mainImgC {
  margin-top: 100px;
}
main .leftCol {
  margin-top: 60px;
}
main .leftCol img {
  margin-top: 20px;
}
main .logoBox {
  background: white;
  border: 1px solid #8cc92a;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  min-height: 86px;
}
main .logoBox.coordinator {
  min-height: 96px;
}
main .partner {
  margin-top: 16px;
}
main .partner img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
}
main img.inTextFlag {
  vertical-align: text-bottom;
}
header {
  position: relative;
  top: 0;
  width: 100%;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 60px;
}
footer img {
  max-width: 100%;
}
footer #footer-text {
  bottom: 0;
  line-height: 1.5em;
  font-size: 0.8em;
}
footer .copyright {
  margin-top: 12px;
  text-align: center;
}
nav {
  z-index: 100;
}
nav.navbar-light {
  font-weight: 600;
  font-size: 17px;
  padding: 0 1rem 0.5rem 1rem;
}
nav.navbar-light ul li {
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
}
nav.navbar-light ul li .nav-link {
  color: #2081bb !important;
}

#project-info {
  font-size: 1.40em;
  font-weight: 900;
  color: #0080c9;
  width: 426px;
  margin: auto;
}
#project-info small {
  font-weight: 600;
  color: black;
  font-size: 55%;
}
.collapse.show {
  background-color: #ffffff;
  opacity: 0.9;
}

.action_btn:hover {
  background-color: #59801a;
  text-align: center;
  font-weight: bold;
  color: white;
}
.home-p {
  background: url('/img/boxes/main_background2.png') no-repeat;
}
.action_btn:hover, .action_btn_yellow:hover {
  text-decoration: none;
}
.action_btn_yellow:hover {
  background-color: #f77f0a;
  text-align: center;
  font-weight: bold;
  color: white;
}
.nav-link {
  padding-left: 1.25em!important;
  padding-right: 1.25em!important;
}
.blue {
  color: #2081bb!important;
}
.green {
  color: #8dca2a;
}
.dark-blue {
  color: #0e2c8e;
}
.light-blue {
  color: #7ad0fa;
}
a.p-event {
  text-decoration: none;
}
.card {
  margin: 10px 0;
}

.outline {
  background: #ffffffd9;
  text-align: center;
  padding: 2em;
  border-bottom: 2px solid #8cc92a;
}
.bordered {
  border: 1px solid #8cc92a;
  background: #ffffffd9;
  text-align: center;
  padding: 2em;
}
.yw-title {
  background-color: #8cc92a;
  color: #fff;
  border-bottom: 2px solid #fff;
  font-weight: bold;
  margin-bottom: 2rem;
}
.worker-title {
  font-weight: bold;
  color: #2081bb;
}
.young-title {
  font-weight: bold;
  color: #f77f0a;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .action_btn:hover {
    line-height: 2.25em;
    display: block;
  }
  .for_youth_lt {
    top: 61px;
    left: 294px;
    width: 76px;
    position: absolute;
    height: 31px;
  }
  .for_youth_uk {
    top: 26px;
    left: 294px;
    width: 76px;
    position: absolute;
    height: 32px;
  }
  .for_youth_cy {
    top: 95px;
    left: 294px;
    width: 76px;
    position: absolute;
    height: 30px;
  }
  .for_youth_bg {
    top: 127px;
    left: 294px;
    width: 76px;
    position: absolute;
    height: 32px;
  }
  .for_youth_pl {
    top: 161px;
    left: 294px;
    width: 76px;
    position: absolute;
    height: 31px;
  }
  .action_btn_yellow:hover {
    line-height: 2.25em;
  }
  .for_young_uk {
    top: 40px;
    left: 35px;
    width: 80px;
    position: absolute;
    height: 34px;
  }
  .for_young_lt {
    top: 82px;
    left: 35px;
    width: 80px;
    position: absolute;
    height: 34px;
  }
  .for_young_cy {
    top: 123px;
    left: 35px;
    width: 80px;
    position: absolute;
    height: 34px;
  }
  .for_young_bg {
    top: 165px;
    left: 35px;
    width: 80px;
    position: absolute;
    height: 34px;
  }
  .for_young_pl {
    top: 207px;
    left: 35px;
    width: 80px;
    position: absolute;
    height: 34px;
  }
  .home-p {
    height: 602px;
  }
  .young_col {
    position: relative;
    left: 10px;
    top: -22px;
  }
  .mainColB {
    top: -34px;
    left:-135px;
    z-index:1;
  }
  .laptop-screen {
    top:-59px;
    left:-10px;
    z-index:1;
  }
  .project_title {
    top: 10px;
    left: -21px;
  }
  .table {
    height: 81px;
    top: -136px;
  }
  .modules-title {
    position: absolute;
    top: 480px;
    left: 155px;
  }
  .img-mod3 {
    position: relative;
    top: -24px;
  }
  img.img-practical {
    position: relative;
    top: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .action_btn:hover {
    line-height: 2em;
    font-size: 13px;
  }
  .for_youth_lt {
    top: 51px;
    left: 247px;
    width: 63px;
    position: absolute;
    height: 26px;
  }
  .for_youth_uk {
    top: 21px;
    left: 247px;
    width: 63px;
    position: absolute;
    height: 27px;
  }
  .for_youth_cy {
    top: 79px;
    left: 247px;
    width: 63px;
    position: absolute;
    height: 25px;
  }
  .for_youth_bg {
    top: 107px;
    left: 247px;
    width: 63px;
    position: absolute;
    height: 24px;
  }
  .for_youth_pl {
    top: 135px;
    left: 247px;
    width: 63px;
    position: absolute;
    height: 25px;
  }

  .action_btn_yellow:hover {
    line-height: 2.25em;
    font-size: 14px;
  }
  .for_young_uk {
    top: 31px;
    left: 29px;
    width: 70px;
    position: absolute;
    height: 30px;
  }
  .for_young_lt {
    top: 68px;
    left: 29px;
    width: 70px;
    position: absolute;
    height: 28px;
  }
  .for_young_cy {
    top: 102px;
    left: 29px;
    width: 70px;
    position: absolute;
    height: 28px;
  }
  .for_young_bg {
    top: 137px;
    left: 29px;
    width: 70px;
    position: absolute;
    height: 28px;
  }
  .for_young_pl {
    top: 171px;
    left: 29px;
    width: 70px;
    position: absolute;
    height: 28px;
  }
  .home-p {
    height: 585px;
    background-size: 100% 90%;
  }
  .young_col {
    position: relative;
    left: 31px;
    top: -25px;
     }
  .mainColB {
    top: -33px;
    left: -116px;
    z-index:1;
  }
  .laptop-screen {
    top: -44px;
    /*left: 50px;*/
    z-index:1;
  }
  .project_title {
    top: 10px;
    /*left: 45px;*/
  }
  .table {
    top: -123px;
    height: 81px;
  }
  .modules-title {
    position: absolute;
    top: 407px;
    left: 126px;
  }
  .img-mod3 {
    position: relative;
    top: -19px;
  }
  img.img-practical {
    position: relative;
    top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .action_btn:hover {
    line-height: 1.75em;
    font-size: 12px;
  }
  .for_youth_lt {
    top: 37px;
    left: 184px;
    width: 46px;
    position: absolute;
    height: 19px;
  }
  .for_youth_uk {
    top: 16px;
    left: 184px;
    width: 46px;
    position: absolute;
    height: 19px;
  }
  .for_youth_cy {
    top: 58px;
    left: 184px;
    width: 46px;
    position: absolute;
    height: 18px;
  }
  .for_youth_bg {
    top: 78px;
    left: 184px;
    width: 46px;
    position: absolute;
    height: 18px;
  }
  .for_youth_pl {
    top: 99px;
    left: 184px;
    width: 46px;
    position: absolute;
    height: 18px;
  }

  .action_btn_yellow:hover {
    line-height: 1.75em;
    font-size: 13px;
  }
  .for_young_uk {
    top: 21px;
    left: 20px;
    width: 46px;
    position: absolute;
    height: 23px;
  }
  .for_young_lt {
    top: 48px;
    left: 20px;
    width: 46px;
    position: absolute;
    height: 22px;
  }
  .for_young_cy {
    top: 74px;
    left: 20px;
    width: 46px;
    position: absolute;
    height: 21px;
  }
  .for_young_bg {
    top: 98px;
    left: 20px;
    width: 46px;
    position: absolute;
    height: 22px;
  }
  .for_young_pl {
    top: 123px;
    left: 20px;
    width: 46px;
    position: absolute;
    height: 22px;
  }
  .home-p {
    background-size: 100%;
    height: 393px;
  }
  .young_col {
    position: relative;
    left: 31px;
    top: -25px;
  }
  .mainColB {
    top: -25px;
    left: -76px;
    z-index:1;
  }
  .laptop-screen {
    top: -40px;
    z-index:1;
  }
  .table {
    top: -106px;
    height: 71px;
  }
  #project-info {
    font-size: 1.1em;
    width: 310px;
  }
  .modules-title {
    position: absolute;
    top: 302px;
    left: 95px;
  }
  .img-mod3 {
    position: relative;
    top: -13px;
  }
  img.img-practical {
    position: relative;
    top: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .action_btn:hover {
    line-height: 2.25em;
  }
  .for_youth_lt {
    top: 58px;
    left: 278px;
    width: 72px;
    position: absolute;
    height: 29px;
  }
  .for_youth_uk {
    top: 24px;
    left: 278px;
    width: 72px;
    position: absolute;
    height: 31px;
  }
  .for_youth_cy {
    top: 89px;
    left: 278px;
    width: 72px;
    position: absolute;
    height: 29px;
  }
  .for_youth_bg {
    top: 120px;
    left: 278px;
    width: 72px;
    position: absolute;
    height: 29px;
  }
  .for_youth_pl {
    top: 152px;
    left: 278px;
    width: 72px;
    position: absolute;
    height: 29px;
  }
  .action_btn_yellow:hover {
    line-height: 1.9em;
    font-size: 20px;
  }
  .for_young_uk {
    top: 37px;
    left: 52px;
    width: 63px;
    position: absolute;
    height: 33px;
  }
  .for_young_lt {
    top: 76px;
    left: 52px;
    width: 63px;
    position: absolute;
    height: 33px;
  }
  .for_young_cy {
    top: 116px;
    left: 52px;
    width: 63px;
    position: absolute;
    height: 33px;
  }
  .for_young_bg {
    top: 155px;
    left: 52px;
    width: 63px;
    position: absolute;
    height: 33px;
  }
  .for_young_pl {
    top: 194px;
    left: 52px;
    width: 63px;
    position: absolute;
    height: 33px;
  }
  .home-p {
    background-size: cover;
  }
  .mainColB {
    top: 104px;
    z-index:1;
  }
  .laptop-screen {
    z-index:1;
  }
  .table {
    top: 16px;
    height: 80px;
  }
  .modules-title {
    top: -75px;
    left: 95px;
  }
}
@media (max-width: 575px) {
  .action_btn:hover {
    line-height: 2.25em;
    font-size: 15px;
  }
  .for_youth_lt {
    top: 70px;
    left: 336px;
    width: 90px;
    position: absolute;
    height: 38px;
  }
  .for_youth_uk {
    top: 30px;
    left: 336px;
    width: 90px;
    position: absolute;
    height: 38px;
  }
  .for_youth_cy {
    top: 110px;
    left: 336px;
    width: 90px;
    position: absolute;
    height: 36px;
  }
  .for_youth_bg {
    top: 148px;
    left: 336px;
    width: 90px;
    position: absolute;
    height: 36px;
  }
  .for_youth_pl {
    top: 187px;
    left: 336px;
    width: 90px;
    position: absolute;
    height: 36px;
  }

  .action_btn_yellow:hover {
    line-height: 2em;
    font-size: 18px;
  }
  .for_young_uk {
    top: 61px;
    left: 67px;
    width: 98px;
    position: absolute;
    height: 38px;
  }
  .for_young_lt {
    top: 116px;
    left: 67px;
    width: 98px;
    position: absolute;
    height: 40px;
  }
  .for_young_cy {
    top: 175px;
    left: 67px;
    width: 98px;
    position: absolute;
    height: 40px;
  }
  .for_young_bg {
    top: 232px;
    left: 67px;
    width: 98px;
    position: absolute;
    height: 40px;
  }
  .for_young_pl {
    top: 287px;
    left: 67px;
    width: 98px;
    position: absolute;
    height: 40px;
  }
  .home-p {
    background-size: cover;
  }
  .mainColB {
    top: 117px;
    z-index:1;
  }
  .laptop-screen {
    z-index:1;
  }
  .table {
    top: 16px;
    height: 80px;
  }
}
.task-desc {
  margin-bottom: 2em;
}
.btn {
  white-space: normal!important;
}
