<h1>Nerijus Rutkauskas – the Blacksmith</h1>

<div class="alert alert-info text-center"><strong>Please read the success story</strong></div>

<div class="video-container" style="border: 1px solid #7ad0fa;padding:20px">

    <div class="text-center">
        <video id="testVideo" src="/videos/SIF_Video1.mp4" type="video/mp4s" controls width="640" height="360" />
    </div>

    <hr class="style-two" />

    <div class="row">
        <div class="col-md-12 txtBlock" id="txt1">
            <blockquote>“There are always people around who may help you!”</blockquote>
            <p>Nerijus Rutkauskas is a professional blacksmith. He is an optimistic, self-confident and successful person, who has established his own business in 2014. His business is his hobby, directly linked to his personality and style of life. Nerijus is regarding himself as a blacksmith-artist, because his products unite both – creativity and traditional techniques. He is mostly creating barbecues, gates, balconies and different decorations. Nerijus experiments and join stone with iron, trying different techniques and approaches to make his products more attractive and challenging.</p>
            <p>Nerijus is joking that the most powerful thing, which motivated him to become a lifestyle entrepreneur was his desire to get married. He explains, that being an ordinary employee you live “from salary to salary”, while being a lifestyle entrepreneur your income depends on your effort: you can gain as much money as you need additionally.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt2" style="display: none">
            <strong>HOW NERIJUS STARTED HIS LIFESTYLE BUSINESS</strong>
            <p>Being a student of an Art school, Nerijus has never thought about becoming a blacksmith. When Nerijus was 17 years old, one of his friends suggested him a first job – to become an assistant of a blacksmith. Nerijus agreed and had been worked for one month, but later he quit because of his striving to art and painting. But later, the need to fix some household stuff forced him to borrow his uncle’s old welding machine. Once he and his family were going to spend a weekend near the lake, and, thus, he decided to make a barbecue to cook outdoors. It was very difficult and required a lot of effort, but he managed to make his first barbecue. Nerijus’ wife took a picture of the barbecue and posted it on a Facebook. They both were very surprised when it was sold just in one hour! Then Nerijus decided to make one more barbecue - and, again, it was sold just in one day! That was a beginning of his lifestyle entrepreneurship as a blacksmith.</p>
            <p>Nerijus is proud of having a wife, who understands his passion of being a blacksmith and helps him to overcome all difficulties. Nerijus’ family supported him emotionally and he is thankful for their patience. Nerijus has a friend, also a professional blacksmith, who often helps him to manage huge amounts of work and overcome different professional challenges.</p>
            <blockquote>“You cannot stop – you are seeking for more and more challenges. And it makes you happy”</blockquote>
        </div>
        <div class="col-md-12 txtBlock" id="txt3" style="display: none">
            <strong>HOW NERIJUS DEVELOPED HIS LIFESTYLE BUSINESS</strong>
            <p>Nerijus runs his business primarily alone. At the beginning it was difficult, because Nerijus did not have any materials and blacksmithing appliances. But he was persistent and used everything he could find, for instance, peace of rail instead of anvil. He borrowed some appliances from his friends and neighbours, who helped him a lot. At first he worked in a village, but later on, receiving more and more orders, Nerijus decided to organize a separate working space. So, he rented a garage in a city and equipped a smithy.</p>
            <p>Once he received an order – to make gates. That time he did not have any skills on how to do that. So, Nerijus asked his friend and together they managed to create beautiful gates just in few days. The client was happy and satisfied with the result. Than the orders became more and more complicated: people wanted balcony holders and stairs, gates and fences decorated with plant ornaments, etc. Nerijus felt a bit unconfident, but he accepted the challenge – and the results were great! The most important things for Nerijus – excited customers and a sense of accomplishment.</p>
            <p>Nowadays Nerijus perceives blacksmithing as a “drug”, when you create some beautiful things, and later you want to improve and make it even better in order to gain more positive emotions, positive evaluation and feedback from other people, get their appreciation and be helpful. He applies more creativity and improves his creations striving to break the standards and make things differently. “You cannot stop – you are seeking for more and more challenges. And it makes you happy.” Now Nerijus is expecting for more challenges – he received an order to make creative table and benches. New challenges are the greatest motivational factors for Nerijus – they boost his creativity, passion and desire to succeed.</p>
            <p>The blacksmith craft is quite seasonal, says Nerijus. People are more likely to purchase different stuff in spring and summer, rather than in winter. But Nerijus uses a winter time for creativity and invention of new ways of working with metal.</p>
            <blockquote>Striving to become more independent</blockquote>
        </div>
        <div class="col-md-12 txtBlock" id="txt4" style="display: none">
            <strong>WHAT ARE NERIJUS’ PLANS FOR FUTURE</strong>
            <p>In the future Nerijus wants to become even more independent – to purchase his own working space and not to rent any. He would like to have more constant clients, that is why he is actively advertising his crafts and services in the Internet. Nerijus is planning to learn and obtain more knowledge about financial issues in business.</p>
            <blockquote>“If you have a dream – implement it today!”</blockquote>
        </div>
        <div class="col-md-12 txtBlock" id="txt5" style="display: none">
            <strong>WHAT ARE NERIJUS’ SUGGESTIONS FOR YOUNG PEOPLE WILLING TO BECOME SELF-EMPLOYED</strong>
            <p>“Before starting your own business, you need to research the market – who are your competitors and what are the prices for similar products”, recommends Nerijus. Without knowing the price, you may evaluate your own work wrong.  In addition, you need to insure anti-fire safety of your working space and own health safety.</p>
            <p>If you have any doubts about your skills or lack of knowledge related to your craft – remember, there are always people around who may help you!</p>
            <p>If you have a dream – implement it today! Because tomorrow your life may change, and the daily routine may swallow you. So, do it now!</p>
        </div>
        <div class="col-md-12 text-center txtBlock" id="txt6" style="display: none">
            <h1>We wish good luck for Nerijus!</h1>
            <p>If you are interested in learning more about Nerijus’ lifestyle business, you may visit a Facebook profile “Nerijaus metalo gaminiai”</p>
            <p><a href="https://www.facebook.com/Nerijausmetalogaminiai" target="_blank">https://www.facebook.com/Nerijausmetalogaminiai</a></p>
            <p>You can also contact his by an email: <a href="mailto:nerijussan21@gmail.com">nerijussan21@gmail.com</a></p>
        </div>
    </div>

</div>

<script>
    var ssvid = document.getElementById('testVideo');
    var tick = ssvid.currentTime;

    ssvid.addEventListener('timeupdate', function(e) {
        vidHandler(parseInt(ssvid.currentTime));
    }, false);

    function vidHandler(currentTime) {
        if (currentTime < 30 && !$('#txt1').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt1').show(200);
        }
        if(currentTime >= 30 && currentTime < 60 && !$('#txt2').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt2').show(200);
        }
        if(currentTime >= 60 && currentTime < 90 && !$('#txt3').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt3').show(200);
        }
        if(currentTime >= 90 && currentTime < 120 && !$('#txt4').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt4').show(200);
        }
        if(currentTime >= 120 && currentTime < 150 && !$('#txt5').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt5').show(200);
        }
        if(currentTime >= 150 && !$('#txt6').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt6').show(200);
        }
    }
</script>
