<h1>Toma Daugnorienė and her bakery “Cherry on Top”</h1>

<div class="alert alert-info text-center"><strong>Please read the success story</strong></div>

<div class="video-container" style="border: 1px solid #7ad0fa;padding:20px">

    <div class="text-center">
        <video id="testVideo" src="/videos/SIF_Video2.mp4" type="video/mp4s" controls width="640" height="360" />
    </div>

    <hr class="style-two" />

    <div class="row">
        <div class="col-md-12 txtBlock" id="txt1">
            <blockquote>When your hobby is your job – you do not have any job</blockquote>
            <p>Toma is a professional baker. She is an optimistic and active person, who runs her own business,  a bakery called the “Cherry on Top”. She mostly bakes confectionary: different sweets, beautiful cakes, cookies and delicious cannels. Her business is her hobby at the same time. Toma says that she does not work – she just does her favourite kind of activity.</p>
            <p><strong>Motivation:</strong> Toma’s striving for independence and persistence, her desire to be a boss for herself. “You can regulate your own salary, because it depends on your effort.”</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt2" style="display: none">
            <strong>HOW TOMA STARTED HER LIFESTYLE BUSINESS</strong>
            <p>The way to the favourite job was not easy for Toma. After she has graduated from school, she entered the university to become an economist. However, after one year of studies Toma quit, because she had realized that her future job should be linked with creativity. So, she tried many professions: she has been working as a waitress, a surgery nurse and even a hair-dresser. But any of those professions brought her a sense of inner fulfilment. Even working in a hairdressing salon, during the breaks, she has been always searching for new receipts of tasty sweets. That is why she decided to try herself in a confectionary and found a job in a bakery. Toma realized that she wants to develop in this direction, she has finally found a profession of her dream. At the same time, she was always dreaming about establishment of her own bakery business.</p>
            <p>And few years ago, she managed to open her own bakery shop called „Cherry on Top”. At the beginning her husband and friends highly evaluated her talent and persuaded her to continue her favourite job. Toma started to bake mushroom-shaped biscuits, which are very popular in Lithuania. The biscuits were so tasty that soon Toma received a lot of complements and gained many clients.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt3" style="display: none">
            <strong>HOW TOMA DEVELOPED HER LIFESTYLE BUSINESS</strong>
            <p>At the beginning she was working at home, but later she moved to a rented place just in front of her house. There she equipped a nice kitchen and arranged a mini-shop.</p>
            <p>Toma works alone without any employees, and only her husband sometimes helps to decorate the biscuits. Every day there is more and more clients, and therefore, Toma sometimes works for 15 hours per day. Toma felt some changes in her lifestyle: “Weekdays lost their sense to me: on Sunday I don’t think that tomorrow is Monday. All days are the same for me and I like it. I have less stress and more comfort”.</p>
            <p>The satisfied clients recommend Toma’s production within their friends, and it is a main marketing strategy, which is really efficient.</p>
            <p>Toma cares not only about nice taste of her sweets, but also, she insures their high quality. She uses exclusively quality products and selects them strictly. Therefore, she is confident about the high quality of her production.</p>
            <p>Nowadays Toma participates in different fairs, has many clients and her production is very popular.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt4" style="display: none">
            <strong>WHAT ARE TOMA’S PLANS FOR FUTURE</strong>
            <p>Toma dreams to open her own bakery café near the sea. The café must differ from others, be special, so, Toma seeks for ideas. In the nearest future Toma plans to recruit an employee, who could help her to manage all orders.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt5" style="display: none">
            <strong>WHAT ARE TOMA’S SUGGESTIONS FOR YOUNG PEOPLE WILLING TO BECOME SELF-EMPLOYED</strong>
            <p>“You need to have a lot of patience at the beginning, but do not give up!”</p>
            <p>“If you do not have much finances – save some money and start from the little things. If the very first idea failed – try another one. Dear to risk – but invest such amount of money that you can easily replace Risk but do it thoughtfully”.</p>
            <p>“Be persistent and seek for support from your family and friends”.</p>
        </div>
        <div class="col-md-12 text-center txtBlock" id="txt6" style="display: none">
            <h1>We wish good luck for Toma!</h1>
            <p>If you are interested in learning more about Toma’s lifestyle business, you may visit a Facebook profile “Cherry on Top” and see all tasty desserts:</p>
            <p><a href="https://www.facebook.com/cherryontop159/" target="_blank">https://www.facebook.com/cherryontop159/</a></p>
            <p>You can also contact her by an email: <a href="mailto:daugnoriene.toma@gmail.com">daugnoriene.toma@gmail.com</a></p>
        </div>
    </div>

</div>

<script>
    var ssvid = document.getElementById('testVideo');
    var tick = ssvid.currentTime;

    ssvid.addEventListener('timeupdate', function(e) {
        vidHandler(parseInt(ssvid.currentTime));
    }, false);

    function vidHandler(currentTime) {
        if (currentTime < 30 && !$('#txt1').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt1').show(200);
        }
        if(currentTime >= 30 && currentTime < 60 && !$('#txt2').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt2').show(200);
        }
        if(currentTime >= 60 && currentTime < 90 && !$('#txt3').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt3').show(200);
        }
        if(currentTime >= 90 && currentTime < 120 && !$('#txt4').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt4').show(200);
        }
        if(currentTime >= 120 && currentTime < 150 && !$('#txt5').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt5').show(200);
        }
        if(currentTime >= 150 && !$('#txt6').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt6').show(200);
        }
    }
</script>
