<h1>Da Viny music</h1>

<div class="alert alert-info text-center"><strong>Please read the success story</strong></div>

<div class="video-container" style="border: 1px solid #7ad0fa;padding:20px">

    <div class="text-center">
        <video id="testVideo" src="/videos/CARDET_video1.mp4" type="video/mp4s" controls width="640" height="360" />
    </div>

    <hr class="style-two" />

    <div class="row">
        <div class="col-md-12 txtBlock" id="txt1">
            <p>Robavine is from Cameroon. Due to the socio-political crisis in his country he is currently living in Cyprus. He is a musician, a nurse, motivational speaker, role model, an advocator. Currently he is also studying Social Work at the University of Nicosia in Cyprus. Robavine is active in advocating human rights, Inspiring the younger generation, while his vision is to bring solutions to humans who are struggling in their lives. His vision also is to become an agent of change in the world.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt2" style="display: none">
            <strong>HOW Robavine STARTED HIS/HER LIFE-STYLE BUSINESS</strong>
            <p>Although Robavine is an active person and has various ambitious, he had no opportunity to work on the field he has studied. Despite the difficulties he had faced in Cyprus he never gave up and he continued to pursuit his dreams and the things he believes in. As a person he is in love with music. Music has always been part of his life as a means of expression, inspiration and a way to speak to people for all the things he supports and believes. His passion for music pushed him to search inside him and to find his talent. As a self-instructed musician Robavine today promotes his work through the “Da Viny music”. Da Viny (Robavine’s artistic name) timidly began to perform alone is public spaces and grabbed every opportunity he could, for the people to hear him out. As a result, Da Viny managed to be an innovative, inspiring, role modelling, musician whose goal is to spread the word of God to every man’s world through music. Da Viny’s music speaks about the goodness of Jesus Christ, love, integrity and quality. He hopes to motivate young generation through his music. Da Viny tries to encourage young people and to help them find their potentials. He says, “not everyone is successful, but I hope that I will help people to discover who they are”.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt3" style="display: none">
            <strong>HOW Robavine DEVELOPED HIS/HER LIFE-STYLE BUSINESS</strong>
            <p>Da Viny music, is already well known among the youth circles in Cyprus. Due to Robavine’s vigour to become successful in his music, he managed to perform his work in various concerts and events in different cities along the island.</p>
            <p>Da Viny’s work is available online and through different social media:<br/>
            YouTube: Da Viny Official<br />
            Instagram: da_viny_official<br />
            Soundcloud: Da viny official<br />
            Twitter: @DaVinyofficial<br />
            Facebook: @DaVinyofficial</p>
            <p>Robavine also mentions that his work as a musician is profitable mostly online where he creates content (music and lyrics) for famous software such as iTunes. However, he stresses the fact that for him to perform live (concerts) it is difficult because he is not economically sustainable. As a result, he seeks constantly for financial resources, sponsorships and open doors. In addition, Da Viny tries to help other artists to promote their own work. Thus, he brings together a small production team (10 people) and all together they try to pursuit their dream and promote their work.</p>
            <p>Currently his music is in English and French, while he is eager to learn properly the Greek language, to expand his music to the Cypriot youth population. Robavine through the Da Viny music finds it exceptionally important to make people feel happy. He mentions that this is also the reason he chose to study nursing and social working. He hopes that his music will reach young people who feel that they are not loved, or they do not know how to love, or people who feel lost at that moment in their lives.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt4" style="display: none">
            <strong>WHAT ARE Robavine‘s PLANS FOR FUTURE</strong>
            <p>Robavine left his country and arrived in Cyprus without his family or friends. As an alien in a country he tried to find a job on his sector although this was not feasible. Still, he did not give up. He managed to become the vice president of the Cameroon community in Cyprus and through that to perform speeches and demonstrations on the essence of unity based on what is ongoing in his country Cameroon now. Subsequently, he realised that he has the music inside him. As a result, he started gathering people who were sharing the same passion as his and who share the same concerns and aspiration together.</p>
            <p>Robavine’s vision for the future is to promote the “Da Viny music” to the Cypriot youth population as well as to the youth across the EU and the World at large. He wants to inspire more people to chase their dreams and join him on his efforts.</p>
            <p>In addition, he hopes to become more active in live concerts and youth events, hence, he tries to create a network of people who can support him and who can further promote his work. He has already collaborated closely with the Cyprus Youth Board and he wants through this collaboration to become more engaged with local youth activities.</p>
            <p>In addition, as he has been a self-instructed musician he is now observing the social media performance and tried to promote further his work by creating an appropriate marketing online plan for his target group.</p>
            <p>Furthermore, Robavine look forward giving back to Cyprus, the people of Cyprus for the endless love Cyprus has shown to him and extending this circle to the world at large not forgetting his country.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt5" style="display: none">
            <strong>WHAT ARE Robavine‘s SUGGESTIONS FOR YOUNG PEOPLE WILLING TO BECOME SELF-EMPLOYED</strong>
            <p>Robavine encourages all people to determine their potentials and overcome their fears, going with his favourite quotes “Life does not matter where you are, but Who you are”, (Da viny), “Life is not about the moment but the future”, (Da Viny).</p>
            <p>He believes that all people should explore, improve and expose their potentials to not miss out an opportunity. They should dare to find their talent and set great goals in their lives. The moment might be not right at their work, education but eventually they will make it. Keep thinking positive and do not let fear to win. Focus on the future and not to the moment.</p>
            <p>Humanity, determination, hardworking and respect in every situation you will find yourself. If you can sign just, try to cry out your song. If you can work just, try to create an environment that will be inspiring for you to work. Just try to be courageous and remember that no matter what, things can only become better. Think positive. Get rid of negative mindset and the future will be better.</p>
        </div>
        <div class="col-md-12 text-center txtBlock" id="txt6" style="display: none">
            <h1>We wish good luck for Robavine!</h1>
            <p>If you are interested in learning more about Robavine’s business or to get consultation, you can contact him by an email: <a href="mailto:info.davinyofficial@gmail.com">info.davinyofficial@gmail.com</a></p>
        </div>
    </div>

</div>

<script>
    var ssvid = document.getElementById('testVideo');
    var tick = ssvid.currentTime;

    ssvid.addEventListener('timeupdate', function(e) {
        vidHandler(parseInt(ssvid.currentTime));
    }, false);

    function vidHandler(currentTime) {
        if (currentTime < 24 && !$('#txt1').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt1').show(200);
        }
        if(currentTime >= 24 && currentTime < 48 && !$('#txt2').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt2').show(200);
        }
        if(currentTime >= 48 && currentTime < 72 && !$('#txt3').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt3').show(200);
        }
        if(currentTime >= 72 && currentTime < 96 && !$('#txt4').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt4').show(200);
        }
        if(currentTime >= 96 && currentTime < 120 && !$('#txt5').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt5').show(200);
        }
        if(currentTime >= 120 && !$('#txt6').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt6').show(200);
        }
    }
</script>
