<h1>Andreas: A true warrior that created a team of “Warriors”</h1>

<div class="alert alert-info text-center"><strong>Please read the success story</strong></div>

<div class="video-container" style="border: 1px solid #7ad0fa;padding:20px">

    <div class="text-center">
        <video id="testVideo" src="/videos/CARDET_video2.mp4" type="video/mp4s" controls width="640" height="360" />
    </div>

    <hr class="style-two" />

    <div class="row">
        <div class="col-md-12 txtBlock" id="txt1">
            <p>Andreas has always been fascinated with sports and wanted to pursue his passion with a career in the field. A passion that was not succumbed by the Facioscapulohumeral muscular dystrophy (FSHD) to which he was diagnosed at the age of 14 and has restricted his mobility but instead inspired him to pursue and complete a degree in Sports Management at the European University Cyprus.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt2" style="display: none">
            <strong>HOW Andreas STARTED HIS/HER LIFE-STYLE BUSINESS</strong>
            <p>Having completed his studies, he is now an independent sports journalist in an esteemed online portal covering basketball, the sport he is most impassioned about. Most importantly, his active spirit and his enthusiastic approach to basketball have sparked the idea of forming a new basketball team, the “EUC Alumni Warriors BC’ representing the European University and its Alumni Association. An idea that, with hard work and consistent effort, came into fruition.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt3" style="display: none">
            <strong>HOW Andreas DEVELOPED HIS/HER LIFE-STYLE BUSINESS</strong>
            <p>Acting as both the manager and Head Coach of the EUC Alumni Warriors BC, Andreas formed a team made-up by former students and amateur players that had not been active for some time rekindling their love for the sport. His greatest achievement was though, that he managed to inspire hundreds of people to follow and support the team which took its first steps in the second tier of the amateur championship but soon gained its promotion to the first tier and is now continuously growing stronger and stronger.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt4" style="display: none">
            <strong>WHAT ARE Andreas’ PLANS FOR FUTURE</strong>
            <p>Driven by his dynamic, curious and active nature and empowered by the support of his friends and family Andreas will continue to pursue his dreams overcoming any obstacle that arises. He is continuously working on further improving on a personal and professional level and to expand his knowledge and skills as a Head Coach and Manager having as an immediate goal to lead the “EUC Alumni Warriors BC” to the championship of the amateur basketball league.</p>
            <p>And then….who knows? Sky is the limit!</p>
            <p>He is willing and eager to grasp every opportunity that lies ahead and he is committed to utilizing his knowledge and experience to pursue a career in basketball either as a coach, manager or sports journalist!</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt5" style="display: none">
            <strong>WHAT ARE Andreas’ SUGGESTIONS FOR YOUNG PEOPLE WILLING TO BECOME SELF-EMPLOYED</strong>
            <p>As Andreas states “Though it may be a bit of cliché, let your dream be the driving force of what you wish to do and achieve. When things look and feel impossible and hopeless, your dreams and aspirations will be the ones that will give you the energy and urge you to put on the extra effort and utilize your inner strength to achieve them. After all, dreams are a defining factor in your life and personality. NEVER stop dreaming, NEVER stop pursuing your wants and aspirations; the incentives and strength to achieve something comes through them”.</p>
        </div>
        <div class="col-md-12 text-center txtBlock" id="txt6" style="display: none">
            <h1>We wish good luck for Andreas!</h1>
            <p>If you are interested in learning more about Andreas’ business and skills, you can contact him by an email: <a href="mailto:kokkinosandreas@hotmail.com">kokkinosandreas@hotmail.com</a></p>
        </div>
    </div>

</div>

<script>
    var ssvid = document.getElementById('testVideo');
    var tick = ssvid.currentTime;

    ssvid.addEventListener('timeupdate', function(e) {
        vidHandler(parseInt(ssvid.currentTime));
    }, false);

    function vidHandler(currentTime) {
        if (currentTime < 35 && !$('#txt1').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt1').show(200);
        }
        if(currentTime >= 35 && currentTime < 70 && !$('#txt2').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt2').show(200);
        }
        if(currentTime >= 70 && currentTime < 105 && !$('#txt3').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt3').show(200);
        }
        if(currentTime >= 105 && currentTime < 140 && !$('#txt4').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt4').show(200);
        }
        if(currentTime >= 140 && currentTime < 175 && !$('#txt5').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt5').show(200);
        }
        if(currentTime >= 175 && !$('#txt6').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt6').show(200);
        }
    }
</script>
