<h1>DISCOVERING MY PASSION FOR SEWING</h1>

<div class="alert alert-info text-center"><strong>Please read the success story</strong></div>

<div class="video-container" style="border: 1px solid #7ad0fa;padding:20px">

    <div class="text-center">
        <video id="testVideo" src="/videos/CWEP_Video1.mp4" type="video/mp4s" controls width="640" height="360" />
    </div>

    <hr class="style-two" />

    <div class="row">
        <div class="col-md-12 txtBlock" id="txt1">
            <p>Paulina has always been a very creative person. She graduated from university as a teacher and was hired as a teacher of Polish in a secondary school near Rzeszow. At here first place of work she used to organize school trips and always had interesting ideas how to brighten up the spirit of her students. Yet, she was feeling that she was not living the full of life and started thinking about changing her job. Although the decision to leave her previous job was easy, more difficult was the situation afterwards, as she had to quickly find a source of income to provide for her family, thus drop the risk of facing economic obstacles. She decided to set up a private preschool, but she knew it would take time to turn it into a profitable business. That is why she started thinking about other options. It can be therefore said that the family situation influenced your decision to start a life-style business.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt2" style="display: none">
            <strong>HOW PAULINA STARTED HER LIFE-STYLE BUSINESS</strong>
            <p>But where did the idea for sewing come from? Paulina found for mother‘s sewing machine in the attic of her family house. Her intention was to take it home as a remembrance of her mother. However, after some time she was curious if it worked and to her astonishment it was running very well. Then it struck her - maybe I can do it. And that is when her adventure with sewing began. First, she made some very simply things, i.e. handkerchiefs and headbands, since she had to learn how to actually operate the sewing machine. Then she made a blanket for her daughter. When she showed her crafts to some parents at preschool, they were impressed and delighted to hear how creative she is.  She started receiving orders from friends and relatives to make personalized blankets. It didn‘t stop there, since she then made pillows matching the blankets.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt3" style="display: none">
            <strong>HOW PAULINA DEVELOPED HIS/HER LIFE-STYLE BUSINESS</strong>
            <p>Paulina never would have thought that see could transform a passion into a source of income, because sewing is her passion. Once she started experimenting with new textures, patterns, colours and types of material, which she really loves doing, it turned out that she was spending a lot of her time sewing. It is now more than 3 years that she has been developing in this area. And although sewing is not her main source of income at the moment, it is becoming more and more important, since see has noticed that there is a demand for handicraft products.</p>
            <p>With the increasing interest in her crafting, demonstrated by friends and relatives, Paulina started looking for new ideas. She has now worked out a technique for making blankets and pillows. These two are especially popular among her pre-schoolers and their parents, as they are placing orders whenever a new child is on the way in their families, enjoying the pleasure from receiving (or giving as a gift) these personalized products.</p>
            <p>Since Paulina works in a preschool, she decided to make something that her caretakers could benefit from, and one day she found on the Internet some pictures of tepees that she decided to make. Again, she first made one for her daughter.  She then make some for the pre-schoolers and next came orders from eager to have one also parents. Just most recently has she started to sew dresses and pullovers for her daughter. Who knows, maybe they will also soon be included in her offer!</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt4" style="display: none">
            <strong>WHAT ARE PAULINA‘S PLANS FOR FUTURE</strong>
            <p>Now with the knowledge on sewing techniques, practice in the craft and gathering clientele that are spreading the news about her business, Paulina is devoting more of her time on sewing and surfing the Internet for inspiration on new products. Guaranteeing facilities is not difficult – all you need is a sewing machine, some sewing supplies and a piece of material, of course apart from the idea and desire to make something from scratch. Paulina has all this, so now all she has to do is convince her family that she will stick to sewing and become a life-style entrepreneur. She is already a role model to her family and friends.</p>
            <p>Just recently Paulina has started taking pictures of her products. She wants to promote them online. She is very keen to develop her business, to take it to the next level, also considering setting up an online shop in the future. See waits what tomorrow brings and what new inspirations she will have. What is more, she wants to encourage others to turn their hobby or passion into a business.</p>
        </div>
        <div class="col-md-12 txtBlock" id="txt5" style="display: none">
            <strong>WHAT ARE PAULINA‘S SUGGESTIONS FOR YOUNG PEOPLE WILLING TO BECOME SELF-EMPLOYED</strong>
            <p>Paulina suggests that young people should strive to turn their hobby or passion into a business. She also says that the financial part is not the most important in all of it, what is most important is to have an idea and be concentrated on completing all the steps to eventually achieving success. Of course, you won‘t be successful at once, since this takes time, but be patient. It is also important to have people around that support you. Make sure to also not give up when coming across an obstacles.</p>
        </div>
        <div class="col-md-12 text-center txtBlock" id="txt6" style="display: none">
            <h1>We wish good luck for Paulina!</h1>
            <p>If you are interested in learning more about Paulina’s business or to get consultation, please contact us and we will help out! You can also find her on Facebook.</p>
        </div>
    </div>

</div>

<script>
    var ssvid = document.getElementById('testVideo');
    var tick = ssvid.currentTime;

    ssvid.addEventListener('timeupdate', function(e) {
        vidHandler(parseInt(ssvid.currentTime));
    }, false);

    function vidHandler(currentTime) {
        if (currentTime < 24 && !$('#txt1').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt1').show(200);
        }
        if(currentTime >= 24 && currentTime < 48 && !$('#txt2').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt2').show(200);
        }
        if(currentTime >= 48 && currentTime < 72 && !$('#txt3').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt3').show(200);
        }
        if(currentTime >= 72 && currentTime < 96 && !$('#txt4').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt4').show(200);
        }
        if(currentTime >= 96 && currentTime < 120 && !$('#txt5').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt5').show(200);
        }
        if(currentTime >= 120 && !$('#txt6').is(':visible')) {
            $('.txtBlock').hide(200);
            $('#txt6').show(200);
        }
    }
</script>
